.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


.logo {
  font-family: 'Pixelify Sans', monospace;
  color: white;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--purple-soft);
  font-size: 0.9rem;
}

.nav a:hover {
  text-decoration: underline;
}

.logo {
  color: var(--purple-soft);
  text-shadow:
    0 0 6px var(--glow),
    0 0 14px rgba(111,183,255,0.4);
}

.logo-img {
  width: 200px;     /* adjust to match text height */
  height: auto;
  display: block;
}